<h1>GeekKobe</h1>
<h3>詳細</h3>
<div class="student">
  <p><%= @student.name %></p>
  <p><%= @student.profile %></p>
  <p><%= @student.mentor %></p>
  <p><%= @student.grade %></p>
  <p><%= @student.created_at %></p>
</div>

<%= link_to "一覧に戻る", students_index_path %>